.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}
.iphone{
    border-radius: 10px ;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 2px solid #111111;
    text-align: center;
}
.colour{
    text-align: center ; 
    font-size: 100px;
    text-shadow: 2px 2px 3px red;
    
}
